@model CampCorr.Models.Equipe

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Equipe</h4>

<hr />

<div class="form-outline form-white mb-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="anoTemporada" value=@TempData["anoTemporada"] />
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        
        <hr />

        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>