@{
    bool existemErros = false;
    if (TempData["erros"] != null)
    {
        existemErros = true;
    };

}
@if (existemErros)
{
    <div class="form-group">
        <span class="text-danger"> 
            @Html.Raw(TempData["erros"])
        </span>
    </div>
}